body {
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    background-image: url("assets/bg\ -\ 01.jpg");
    background-position-x: center;
    background-position-y: center;
    background-size: 300vh
}

h1, h2, h3 {
    border-bottom: 1px solid #ccc;
    color: #3F51B5;
    padding-bottom: 10px;
}

img {
    width: 100%;
}

.container {
    margin: auto;
    width: 350px;
    text-align: center;
}

.list {
    display: flex;
    justify-content: center;
    padding-right: 14%;
}

.icon {
    width: 30%;
    padding-left: 35%;
    display: flex;
    justify-content: center;
}

.facebook {
    margin-left: -100%;
}

.twitter {
    margin-left: 50%;
}